a {
  text-decoration: none;
}

.cta-small {
  background-color: var(--dark-green);
  color: #fff;
  padding: 4px 2px;
  font-size: 10pt;
  text-align: center;
  margin-top: 20px;
  border-radius: 50px;
  grid-column: 1;
  grid-row: 4;
}

.cta-small:hover {
  transition-duration: 1s;
  background-color: var(--white);
  color: var(--dark-green);
  border: 2px solid var(--dark-green);
}

.cta-big {
  background-color: var(--purple);
  color: #fff;
  padding: 10px 30px;
  font-size: 12pt;
  text-align: center;
  border-radius: 50px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 7;
}

.cta-big:hover {
  transition-duration: 1s;
  background-color: var(--white);
  color: var(--purple);
  border: 2px solid var(--purple);
}

.active {
  text-decoration: underline;
}